doctype html
html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/style.css')
  body
    header.main-header
      img(src='https://lh3.googleusercontent.com/FezcUgLuzF6cfuPdRLKHOrPrT5eUtzj9vBehIJ9m-9b_duVUX87yhyXukzq1zgGrLF4f3ciyIvx0R34NwEccfNhuA9cWc9HlTx8=w785')
    block content
